*.log
/**/.vscode/c_cpp_properties.json
# Compiled binaries
/helloSDL/helloSDL
/helloImg/helloImg
/helloGL/helloGL
/oglwrapTest/square/square
/oglwrapTest/cube/cube
/oglwrapTest/cube-es2/cube
/oglwrapTest/cylinder/cylinder
/**/deps/*
!/**/deps/readme.md
*.exe
